<nav>
    <ul>
        <li><a href="monthView.html">Annuler</a></li>
        <li><h1> Nouvel évènement</h1></li>
        <li>Ajouter</li>
    </ul>
</nav>
<main>
    <div class="container">
        <form action="/action_page.php">
            <fieldset>
                <input type="text" name="title" placeholder="Titre">
                <div class="line"></div>
                <input type="text" name="place" placeholder="Lieu">
            </fieldset>
            <fieldset>
                <input type="text" name="day" placeholder="Jour">
                <div class="line"></div>
                <input type="text" name="start" placeholder="Début">
                <div class="line"></div>
                <input type="text" name="title" placeholder="Fin">
            </fieldset>
            <fieldset>
                <input type="text" name="invite" placeholder="Inviter des membres">
            </fieldset>
            <fieldset>
                <textarea placeholder="Description"></textarea>
            </fieldset>
        </form>
    </div>
</main>