<div class="btn-create-mobile"><a href="event.html">+</a></div>
    <div class="home-page">
        <div class="left-side">
            <div class="title-searchbar">
                <ul>
                    <li><h1><a href="/" title="Revenir à l'accueil">Lagg<span>y</span></a></h1></li>
                    <li><input type="date"></li>
                </ul>
            </div>
            <hr>
            <nav>
                <h2>03-09 Oct, 2022</h2>
                <div class="container">
                    <div class="container-date">
                        <ul>
                            <li><a href="./week"><button class='active' title="Revenir au mois à la semaine courante">Semaine</button></a></li>
                            <li><a href="./?mois=courant"><button>Mois</button></a></li>
                            <li><a href="./year"><button>Année</button></a></li>
                        </ul>
                    </div>
                    <div class="container-switch">
                        <ul>
                            <li><a href='?mois=avant'><button class='active'>&lt;</button></a></li>
                            <li><button>Semaine</button></li>
                            <li><a href='?mois=suivant'><button class='active'>></button></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
                <main class="calendar">
                    <div class="monday">
                        <div class="left">
                            <h3>Lun</h3>
                            <div class="number">3</div>
                        </div>
                        <div class="right">
                            <div class="description orange">
                                <div class="hours">08:00-09:00</div>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, tenetur.
                            </div>
                            <div class="description blue">
                                <div class="hours">09:00-12:00</div>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, tenetur
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cumque debitis
                                ea eligendi excepturi minus nulla odit tenetur voluptatem voluptates!
                            </div>
                            <div class="description red">
                                <div class="hours">14:00-17h00</div>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, tenetur.
                            </div>
                        </div>
                    </div>
                    <div class="tuesday">
                        <div class="left">
                            <h3>Mar</h3>
                            <div class="number ">4</div>
                        </div>
                        <div class="right">
                            <div class="description orange">
                                <div class="hours">08:00-09:00</div>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, tenetur.
                            </div>
                            <div class="description red">
                                <div class="hours">09:00-12:00</div>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, tenetur
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cumque debitis
                                ea eligendi excepturi minus nulla odit tenetur voluptatem voluptates!
                            </div>
                            <div class="description blue">
                                <div class="hours">14:00-17h00</div>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, tenetur.
                            </div>
                        </div>
                    </div>

                    <div class="wednesday">
                        <div class="left">
                            <h3>Mer</h3>
                            <div class="number">5</div>
                        </div>
                        <div class="right">
                            <div class="description red">
                                <div class="hours">08:00-09:00</div>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, tenetur.
                            </div>
                            <div class="description orange">
                                <div class="hours">09:00-12:00</div>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, tenetur
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cumque debitis
                                ea eligendi excepturi minus nulla odit tenetur voluptatem voluptates!
                            </div>
                            <div class="description blue">
                                <div class="hours">14:00-17h00</div>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, tenetur.
                            </div>
                        </div>
                    </div>

                    <div class="thursday">
                        <div class="left">
                            <h3>Jeu</h3>
                            <div class="number">6</div>
                        </div>
                        <div class="right">
                            <div class="description orange">
                                <div class="hours">08:00-09:00</div>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, tenetur.
                            </div>
                            <div class="description blue">
                                <div class="hours">09:00-12:00</div>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, tenetur
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cumque debitis
                                ea eligendi excepturi minus nulla odit tenetur voluptatem voluptates!
                            </div>
                            <div class="description red">
                                <div class="hours">14:00-17h00</div>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, tenetur.
                            </div>
                        </div>
                    </div>

                    <div class="friday">
                        <div class="left">
                            <h3>Ven</h3>
                            <div class="number">7</div>
                        </div>
                        <div class="right">
                            <div class="description red">
                                <div class="hours">08:00-09:00</div>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, tenetur.
                            </div>
                            <div class="description orange">
                                <div class="hours">09:00-12:00</div>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, tenetur
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cumque debitis
                                ea eligendi excepturi minus nulla odit tenetur voluptatem voluptates!
                            </div>
                            <div class="description blue">
                                <div class="hours">14:00-17h00</div>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, tenetur.
                            </div>
                        </div>
                    </div>

                    <div class="saturday">
                        <div class="left">
                            <h3>Sam</h3>
                            <div class="number">8</div>
                        </div>
                        <div class="right">
                            <div class="description red">
                                <div class="hours">08:00-09:00</div>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, tenetur.
                            </div>
                            <div class="description blue">
                                <div class="hours">09:00-12:00</div>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, tenetur
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cumque debitis
                                ea eligendi excepturi minus nulla odit tenetur voluptatem voluptates!
                            </div>
                            <div class="description orange">
                                <div class="hours">14:00-17h00</div>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, tenetur.
                            </div>
                        </div>
                    </div>

                    <div class="sunday">
                        <div class="left">
                            <h3>Dim</h3>
                            <div class="number">9</div>
                        </div>
                        <div class="right">
                            <div class="description orange">
                                <div class="hours">08:00-09:00</div>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, tenetur.
                            </div>
                            <div class="description blue">
                                <div class="hours">09:00-12:00</div>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, tenetur
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cumque debitis
                                ea eligendi excepturi minus nulla odit tenetur voluptatem voluptates!
                            </div>
                            <div class="description red">
                                <div class="hours">14:00-17h00</div>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, tenetur.
                            </div>
                        </div>
                    </div>
            </main>
        </div>

        <div class="right-side">
            <div class="message-user">
                <ul>
                    <li><img src="../assets/calendar.png" alt="Calendar"></li>
                    <li>Connecte-toi !</li>
                </ul>
            </div>
            <hr>
            <div class="side-nav">
                <ul>
                    <li><h3>Octobre, 2022</h3></li>
                    <li><a href='?mois=avant'><button class='active'>&lt;</button></a></li>
                    <li><a href='?mois=suivant'><button class='active'>&gt;</button></a></li>
                </ul>
            </div>
            <div class="side-main">
                <div class="calendar">
                    <ul class="calendar--days">
                        <li><span>L</span></li>
                        <li>M</li>
                        <li>M</li>
                        <li>J</li>
                        <li>V</li>
                        <li>S</li>
                        <li>D</li>
                    </ul>
                    <ul class="calendar--dates">
                        <li class="prev">30</li>
                        <li class="prev">31</li>
                        <li class="container">1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                        <li>10</li>
                        <li>11</li>
                        <li>12</li>
                        <li class="active">13</li>
                        <li>14</li>
                        <li>15</li>
                        <li>16</li>
                        <li>17</li>
                        <li>18</li>
                        <li>19</li>
                        <li>20</li>
                        <li>21</li>
                        <li>22</li>
                        <li>23</li>
                        <li>24</li>
                        <li>25</li>
                        <li>26</li>
                        <li>27</li>
                        <li>28</li>
                        <li>29</li>
                        <li>30</li>
                        <li>31</li>
                        <li class="next">1</li>
                        <li class="next">2</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>