$encre: rgb(123, 49, 0);
$encretxt: lighten($encre, 20%);
$background: rgb(255, 246, 238);

body {
  background-color: $background;
  width: 100%;
}

main {
  margin: 10px 20px;
  border: 2px solid #777;
  padding: 10px 20px;
  border-radius: 7px;
  box-shadow: -4px 3px 10px rgb(207, 141, 0);


  h1,
  h2,
  nav {
    font-size: 32px;
    text-align: center;
    color: $encre;
    animation-delay: 1s;
    --animate-duration: 5s;
    text-shadow: -2px 2px 0px orange;
    ;
  }
  
  p {
    color: $encretxt;
    font-size: 180px;
    text-align: left;
    transition: all 3s;
    --animate-duration: 3s;

    &:first-child {
      font-weight: bold;
      color: rgb(75, 43, 0);
      font-size: 18px !important;
    }
  }
}
