{% extends 'layouts/layout.html.twig' %}

{% block content %}
<div class="relative rounded-xl overflow-auto">
  <div class="shadow-sm overflow-hidden my-8">

    <p id="mydesc" class="font-bold text-center">Liste des utilisateurs</p>
    <table aria-describedby="mydesc" class="border-collapse table-auto w-full
      text-sm">
      <thead><tr><th class="text-left">Prénom</th><th class="text-left">Email</th></tr></thead>
      <tbody>
        {% for user in users %}
        <tr><td>{{ user.name }}</td><td>{{user.email}}</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

