<div class="btn-create-mobile"><a href="event.html">+</a></div>
<div class="home-page">
        <div class="left-side">
            <div class="title-searchbar">
                <ul>
                    <li><h1><a href="/" title="Revenir à l'accueil">Lagg<span>y</span></a></h1></li>
                    <li><input type="date"></li>
                </ul>
            </div>
            <hr>
            <nav>
                <h2>Septembre, 2022</h2>
                <div class="container">
                    <div class="container-date">
                        <ul>
                            <li><a href="./week"><button>Semaine</button></a></li>
                            <li><a href="./?mois=courant"><button>Mois</button></a></li>
                            <li><a href="./year"><button class='active' title="Revenir à l'année courante">Année</button></a></li>
                        </ul>
                    </div>
                    <div class="container-switch">
                        <ul>
                            <li><a href='?mois=avant'><button class='active'>&lt;</button></a></li>
                            <li><button>Annnée</button></li>
                            <li><a href='?mois=suivant'><button class='active'>&gt;</button></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <main>
                <div class="left">
                    <div class="calendar">
                        <h2>Janvier</h2>
                        <ul class="calendar--dates">
                            <li class="prev">30</li>
                            <li class="prev">31</li>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li >7</li>
                            <li>8</li>
                            <li>9</li>
                            <li>10</li>
                            <li>11</li>
                            <li>12</li>
                            <li>13</li>
                            <li>14</li>
                            <li>15</li>
                            <li>5</li>
                            <li>17</li>
                            <li>18</li>
                            <li>19</li>
                            <li>20</li>
                            <li>21</li>
                            <li>22</li>
                            <li>23</li>
                            <li>24</li>
                            <li>25</li>
                            <li>26</li>
                            <li>27</li>
                            <li>28</li>
                            <li>29</li>
                            <li>30</li>
                            <li>31</li>
                            <li class="next">1</li>
                            <li class="next">2</li>
                        </ul>
                    </div>
                    <div class="calendar">
                        <h2>Mai</h2>
                        <ul class="calendar--dates">
                            <li class="prev">30</li>
                            <li class="prev">31</li>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li >7</li>
                            <li>8</li>
                            <li>9</li>
                            <li>10</li>
                            <li>11</li>
                            <li>12</li>
                            <li>13</li>
                            <li>14</li>
                            <li>15</li>
                            <li>5</li>
                            <li>17</li>
                            <li>18</li>
                            <li>19</li>
                            <li>20</li>
                            <li>21</li>
                            <li>22</li>
                            <li>23</li>
                            <li>24</li>
                            <li>25</li>
                            <li>26</li>
                            <li>27</li>
                            <li>28</li>
                            <li>29</li>
                            <li>30</li>
                            <li>31</li>
                            <li class="next">1</li>
                            <li class="next">2</li>
                        </ul>
                    </div>
                    <div class="calendar">
                        <h2>Septembre</h2>
                        <ul class="calendar--dates">
                            <li class="prev">30</li>
                            <li class="prev">31</li>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li >7</li>
                            <li>8</li>
                            <li>9</li>
                            <li>10</li>
                            <li>11</li>
                            <li>12</li>
                            <li>13</li>
                            <li>14</li>
                            <li>15</li>
                            <li>5</li>
                            <li>17</li>
                            <li>18</li>
                            <li>19</li>
                            <li>20</li>
                            <li>21</li>
                            <li>22</li>
                            <li>23</li>
                            <li>24</li>
                            <li>25</li>
                            <li>26</li>
                            <li>27</li>
                            <li>28</li>
                            <li>29</li>
                            <li>30</li>
                            <li>31</li>
                            <li class="next">1</li>
                            <li class="next">2</li>
                        </ul>
                    </div>
                </div>
                <div class="mid-left">
                    <div class="calendar">
                        <div class="calendar">
                            <h2>Février</h2>
                            <ul class="calendar--dates">
                                <li class="prev">30</li>
                                <li class="prev">31</li>
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                                <li>6</li>
                                <li >7</li>
                                <li>8</li>
                                <li>9</li>
                                <li>10</li>
                                <li>11</li>
                                <li>12</li>
                                <li>13</li>
                                <li>14</li>
                                <li>15</li>
                                <li>5</li>
                                <li>17</li>
                                <li>18</li>
                                <li>19</li>
                                <li>20</li>
                                <li>21</li>
                                <li>22</li>
                                <li>23</li>
                                <li>24</li>
                                <li>25</li>
                                <li>26</li>
                                <li>27</li>
                                <li>28</li>
                                <li>29</li>
                                <li>30</li>
                                <li>31</li>
                                <li class="next">1</li>
                                <li class="next">2</li>
                            </ul>
                        </div>
                        <div class="calendar">
                            <h2>Juin</h2>
                            <ul class="calendar--dates">
                                <li class="prev">30</li>
                                <li class="prev">31</li>
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                                <li>6</li>
                                <li >7</li>
                                <li>8</li>
                                <li>9</li>
                                <li>10</li>
                                <li>11</li>
                                <li>12</li>
                                <li>13</li>
                                <li>14</li>
                                <li>15</li>
                                <li>5</li>
                                <li>17</li>
                                <li>18</li>
                                <li>19</li>
                                <li>20</li>
                                <li>21</li>
                                <li>22</li>
                                <li>23</li>
                                <li>24</li>
                                <li>25</li>
                                <li>26</li>
                                <li>27</li>
                                <li>28</li>
                                <li>29</li>
                                <li>30</li>
                                <li>31</li>
                                <li class="next">1</li>
                                <li class="next">2</li>
                            </ul>
                        </div>
                        <div class="calendar">
                            <h2>Octobre</h2>
                            <ul class="calendar--dates">
                                <li class="prev">30</li>
                                <li class="prev">31</li>
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                                <li>6</li>
                                <li >7</li>
                                <li>8</li>
                                <li>9</li>
                                <li>10</li>
                                <li>11</li>
                                <li>12</li>
                                <li>13</li>
                                <li>14</li>
                                <li>15</li>
                                <li>5</li>
                                <li>17</li>
                                <li>18</li>
                                <li>19</li>
                                <li>20</li>
                                <li>21</li>
                                <li>22</li>
                                <li>23</li>
                                <li>24</li>
                                <li>25</li>
                                <li>26</li>
                                <li>27</li>
                                <li>28</li>
                                <li>29</li>
                                <li>30</li>
                                <li>31</li>
                                <li class="next">1</li>
                                <li class="next">2</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mid-right">
                    <div class="calendar">
                        <div class="calendar">
                            <h2>Mars</h2>
                            <ul class="calendar--dates">
                                <li class="prev">30</li>
                                <li class="prev">31</li>
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                                <li>6</li>
                                <li >7</li>
                                <li>8</li>
                                <li>9</li>
                                <li>10</li>
                                <li>11</li>
                                <li>12</li>
                                <li>13</li>
                                <li>14</li>
                                <li>15</li>
                                <li>5</li>
                                <li>17</li>
                                <li>18</li>
                                <li>19</li>
                                <li>20</li>
                                <li>21</li>
                                <li>22</li>
                                <li>23</li>
                                <li>24</li>
                                <li>25</li>
                                <li>26</li>
                                <li>27</li>
                                <li>28</li>
                                <li>29</li>
                                <li>30</li>
                                <li>31</li>
                                <li class="next">1</li>
                                <li class="next">2</li>
                            </ul>
                        </div>
                        <div class="calendar">
                            <h2>Juillet</h2>
                            <ul class="calendar--dates">
                                <li class="prev">30</li>
                                <li class="prev">31</li>
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                                <li>6</li>
                                <li >7</li>
                                <li>8</li>
                                <li>9</li>
                                <li>10</li>
                                <li>11</li>
                                <li>12</li>
                                <li>13</li>
                                <li>14</li>
                                <li>15</li>
                                <li>5</li>
                                <li>17</li>
                                <li>18</li>
                                <li>19</li>
                                <li>20</li>
                                <li>21</li>
                                <li>22</li>
                                <li>23</li>
                                <li>24</li>
                                <li>25</li>
                                <li>26</li>
                                <li>27</li>
                                <li>28</li>
                                <li>29</li>
                                <li>30</li>
                                <li>31</li>
                                <li class="next">1</li>
                                <li class="next">2</li>
                            </ul>
                        </div>
                        <div class="calendar">
                            <h2>Novembre</h2>
                            <ul class="calendar--dates">
                                <li class="prev">30</li>
                                <li class="prev">31</li>
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                                <li>6</li>
                                <li >7</li>
                                <li>8</li>
                                <li>9</li>
                                <li>10</li>
                                <li>11</li>
                                <li>12</li>
                                <li>13</li>
                                <li>14</li>
                                <li>15</li>
                                <li>5</li>
                                <li>17</li>
                                <li>18</li>
                                <li>19</li>
                                <li>20</li>
                                <li>21</li>
                                <li>22</li>
                                <li>23</li>
                                <li>24</li>
                                <li>25</li>
                                <li>26</li>
                                <li>27</li>
                                <li>28</li>
                                <li>29</li>
                                <li>30</li>
                                <li>31</li>
                                <li class="next">1</li>
                                <li class="next">2</li>
                            </ul>
                        </div>
                    </div>
                </div> <div class="right">
                    <div class="calendar">
                        <div class="calendar">
                            <h2>Avril</h2>
                            <ul class="calendar--dates">
                                <li class="prev">30</li>
                                <li class="prev">31</li>
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                                <li>6</li>
                                <li >7</li>
                                <li>8</li>
                                <li>9</li>
                                <li>10</li>
                                <li>11</li>
                                <li>12</li>
                                <li>13</li>
                                <li>14</li>
                                <li>15</li>
                                <li>5</li>
                                <li>17</li>
                                <li>18</li>
                                <li>19</li>
                                <li>20</li>
                                <li>21</li>
                                <li>22</li>
                                <li>23</li>
                                <li>24</li>
                                <li>25</li>
                                <li>26</li>
                                <li>27</li>
                                <li>28</li>
                                <li>29</li>
                                <li>30</li>
                                <li>31</li>
                                <li class="next">1</li>
                                <li class="next">2</li>
                            </ul>
                        </div>
                        <div class="calendar">
                            <h2>Août</h2>
                            <ul class="calendar--dates">
                                <li class="prev">30</li>
                                <li class="prev">31</li>
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                                <li>6</li>
                                <li >7</li>
                                <li>8</li>
                                <li>9</li>
                                <li>10</li>
                                <li>11</li>
                                <li>12</li>
                                <li>13</li>
                                <li>14</li>
                                <li>15</li>
                                <li>5</li>
                                <li>17</li>
                                <li>18</li>
                                <li>19</li>
                                <li>20</li>
                                <li>21</li>
                                <li>22</li>
                                <li>23</li>
                                <li>24</li>
                                <li>25</li>
                                <li>26</li>
                                <li>27</li>
                                <li>28</li>
                                <li>29</li>
                                <li>30</li>
                                <li>31</li>
                                <li class="next">1</li>
                                <li class="next">2</li>
                            </ul>
                        </div>
                        <div class="calendar">
                            <h2>Décembre</h2>
                            <ul class="calendar--dates">
                                <li class="prev">30</li>
                                <li class="prev">31</li>
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                                <li>6</li>
                                <li >7</li>
                                <li>8</li>
                                <li>9</li>
                                <li>10</li>
                                <li>11</li>
                                <li>12</li>
                                <li>13</li>
                                <li>14</li>
                                <li>15</li>
                                <li>5</li>
                                <li>17</li>
                                <li>18</li>
                                <li>19</li>
                                <li>20</li>
                                <li>21</li>
                                <li>22</li>
                                <li>23</li>
                                <li>24</li>
                                <li>25</li>
                                <li>26</li>
                                <li>27</li>
                                <li>28</li>
                                <li>29</li>
                                <li>30</li>
                                <li>31</li>
                                <li class="next">1</li>
                                <li class="next">2</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <div class="right-side">
            <div class="message-user">
                <ul>
                    <li><img src="../assets/calendar.png" alt="Calendrier" alt="Calendrier"></li>
                    <li>Connecte-toi !</li>
                </ul>
            </div>
            <hr>
            <div class="side-nav">
                <ul>
                    <li><h3>Septembre, 2022</h3></li>
                    <li><button> &lt;</button></li>
                    <li><button> > </button></li>
                </ul>
            </div>
            <div class="side-main">
                <div class="calendar">
                    <ul class="calendar--days">
                        <li><span>L</span></li>
                        <li>M</li>
                        <li>M</li>
                        <li>J</li>
                        <li>V</li>
                        <li>S</li>
                        <li>D</li>
                    </ul>
                    <ul class="calendar--dates">
                        <li class="prev">30</li>
                        <li class="prev">31</li>
                        <li class="container">1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                        <li>10</li>
                        <li>11</li>
                        <li>12</li>
                        <li class="active">13</li>
                        <li>14</li>
                        <li>15</li>
                        <li>16</li>
                        <li>17</li>
                        <li>18</li>
                        <li>19</li>
                        <li>20</li>
                        <li>21</li>
                        <li>22</li>
                        <li>23</li>
                        <li>24</li>
                        <li>25</li>
                        <li>26</li>
                        <li>27</li>
                        <li>28</li>
                        <li>29</li>
                        <li>30</li>
                        <li>31</li>
                        <li class="next">1</li>
                        <li class="next">2</li>
                    </ul>
                </div>
            </div>
            <div class="side-footer">
                <div class="description"><span>09:00 - 17:00 </span><br>
                    Intégration des maquettes <br>
                    Paul, Pierre, Jacques
                </div>
            </div>
        </div>
    </div>
